{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('common_design_subtheme/rw-form') }}

<form{{ attributes }}>
  <fieldset id="account">
    <legend>{{ 'Account information'|t }}</legend>
    {{ element.account.name }}
    {{ element.account.current_pass }}
    {{ element.account.mail }}
    {{ element.account.pass }}
    {{ element.account.reset_pass }}
  </fieldset>

  <fieldset id="details" class="details">
    <legend>{{ 'Account status and note'|t }}</legend>
    {{ element.account.status }}
    {{ element.account.roles }}
    {{ element.account.notes }}
  </fieldset>

  <fieldset id="actions">
    <legend class="visually-hidden">{{ 'Form submission and other actions'|t }}</legend>
    {{ element.actions }}
  </fieldset>

  {{
    form|without([
      'name',
      'account.current_pass',
      'account.mail',
      'account.pass',
      'account.reset_pass',
      'account.status',
      'account.roles',
      'account.notes',
      'actions',
    ])
  }}
</form>
