{% embed '@common_design/layout/page.html.twig' %}

  {% block header %}
    {% include '@common_design_subtheme/cd/cd-header/cd-header.html.twig' %}
  {% endblock %}

  {% block main %}

    {{ attach_library('common_design_subtheme/rw-useful-links') }}

    {# Link to skip to the main content is in html.html.twig #}
    <main role="main" id="main-content" class="cd-container">

      <div class="cd-layout">

        <div class="cd-layout__content">

          <section class="rw-410">
            <header>
              <h1 class="rw-page-title">{{ '410 - Gone'|t }}</h1>
            </header>
            {% if page.content.message is not empty %}
            <p><strong>{{ page.content.message }}</strong></p>
            {% endif %}
            <p>{{ 'Sorry for any inconvenience.'|t }}</p>
            <p>{{ 'Here are some useful pages to help you get back on track:'|t }}</p>
            <div class="rw-entity-useful-links">
              <ul>
                <li>
                  <a href="/">{{ 'Homepage'|t }}</a>
                  <p>{{ 'View ongoing crises and latest headlines.'|t }}</p>
                </li>
                <li>
                  <a href="/updates">{{ 'Updates'|t }}</a>
                  <p>{{ 'Access the latest humanitarian reports, maps and infographics and an archive of more than 20 years of humanitarian information.'|t }}</p>
                </li>
                <li>
                  <a href="/jobs">{{ 'Jobs'|t }}</a>
                  <p>{{ 'Browse open job opportunities in the humanitarian field.'|t }}</p>
                </li>
                <li>
                  <a href="/training">{{ 'Training'|t }}</a>
                  <p>{{ 'Discover training opportunities in the humanitarian field.'|t }}</p>
                </li>
                <li>
                  <a href="/help">{{ 'Help Section'|t }}</a>
                  <p>{{ 'Find help on how to use the site, read terms and conditions, view the FAQs and API documentation.'|t }}</p>
                </li>
              </ul>
            </div>
          </section>

        </div>{# /.cd-layout__content #}

      </div>

    </main>
  {% endblock %}

  {% block footer_soft %}
    {% include '@common_design_subtheme/cd/cd-footer/cd-soft-footer.html.twig' %}
  {% endblock %}

  {% block footer %}
    {% include '@common_design_subtheme/cd/cd-footer/cd-footer.html.twig' %}
  {% endblock %}

{% endembed %}



