{#

/**
 * @file
 * Default template for notifications.
 *
 * Important note: the formmatting of this template and the use of the twig
 * spaceless indicator `-` are on purpose to ensure a clean conversion to
 * plain text without excessive line breaks and indentation.
 *
 * Available variables are:
 * - preheader: string for preheader.
 * - title: notification title.
 * - items: array of report items with the following properties:
 *   - title: report title
 *   - url: report url
 *   - info: report info like sources
 *   - image (optional): attachment preview thumbnail
 *   - summary: content summary.
 * - read_more_label: read more label.
 * - prefooter: string for prefooter.
 */

#}
{%- block header -%}
  {{- render_var({
    '#theme': 'reliefweb_subscriptions_header',
    '#preheader': preheader,
  }) -}}
{%- endblock -%}

{%- block content -%}
<h1 class="email-title">{{ title }} / <span class="email-title-date">{{ 'now'|date('j M Y') }}</span></h1>

{%- for item in items -%}
<div class="email-resource">
<h2 class="email-resource-title"><a class="email-resource-title-link" href="{{ item.url }}">{{ item.title }}</a></h2>
<div class="email-resource-info">{{ item.info|raw }}</div>

{% if item.image -%}
<div class="email-resource-image">
<img src="{{ item.image.url }}" alt="{{ item.image.description }}">
</div>
{%- endif -%}

<div class="email-resource-teaser">
{{- item.summary|raw }}
<a class="email-resource-read-more" href="{{ item.url }}">{{ read_more_label }}</a>
</div>
</div>
{%- endfor -%}
{%- endblock -%}

{%- block footer -%}
  {{- render_var({
    '#theme': 'reliefweb_subscriptions_footer',
    '#prefooter': prefooter,
  }) -}}
{%- endblock -%}

