{#

/**
 * @file
 * Template file for entity details (meta information like country).
 *
 * Available variables:
 * - level: headling leve (defaults to 2)
 * - id: section id
 * - attributes: section attributes
 * - title: section title
 * - title_attributes: section title attributes
 * - core: flag indicating the list of meta is the "core" meta information,
 *   usually displayed in river articles or below the title on article pages.
 * - meta: associative array with a list of meta information (ex: dates,
 *   sources, etc.). Each items has the following properties:
 *   - type: simple, date, date-range or taglist
 *   - label: label (singular or plural depending on the value)
 *   - value: simple, date, array with start and end date or list of tags
 *   - count: only for taglist - number of tags to display
 *   - sort: only for taglist - sort property for the tags
 */

#}
<section{{ attributes
  .addClass([
    'rw-entity-details',
  ])
  .setAttribute('id', id)
}}>
  <h{{ level }}{{ title_attributes
    .addClass([
      'rw-entity-details__title'
    ])
  }}>{{ title }}</h{{ level }}>

  {{ render_var({
    '#theme': 'reliefweb_entities_entity_meta',
    '#core': core,
    '#meta': meta,
  }) }}
</section>
