
{#

/**
 * @file
 * Template file for entity details (meta informatio like country).
 *
 * Available variables:
 * - level: headling leve (defaults to 2)
 * - id: section id
 * - attributes: section attributes
 * - title: section title
 * - title_attributes: section title attributes
 * - links: list of social media links with a url and a title

#}
<section{{ attributes
  .addClass([
    'rw-entity-social-media-links',
  ])
  .setAttribute('id', id)
}}>
  <h{{ level }}{{ title_attributes
    .addClass([
      'rw-entity-social-media-links__title',
    ])
  }}>{{ title }}</h{{ level }}>

  <ul class="rw-entity-social-media-links__list">
  {% for link in links %}
    <li class="rw-entity-social-media-links__list_item">
      <a href="{{ link.url }}" target="_blank" rel="noopener" class="rw-entity-social-media-links__link">{{ link.title }}</a>
    </li>
  {% endfor %}
  </ul>
</section>
