{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% set attributes = attributes
  .setAttribute('data-cd-toggable', 'Jump to content'|t)
  .setAttribute('data-cd-icon', 'arrow-down')
  .setAttribute('data-cd-component', 'rw-toc')
%}

{% set title_attributes = title_attributes.addClass('visually-hidden') %}

{{ attach_library('common_design_subtheme/rw-form') }}
{{ attach_library('common_design_subtheme/rw-toc') }}

<form{{ attributes }}>
  <nav{{ attributes
    .setAttribute('id', 'table-of-contents')
    .addClass([
      'rw-toc',
    ])
  }} >
    <h2{{ level }}{{ title_attributes
      .addClass([
        'rw-toc__title'
      ])
    }}>{{ 'Table of Contents'|t }}</h2>
    <ul>
      <li class="rw-toc__section">
        <h3 class="rw-toc__section__title">{{ 'Fields'|t }}</h3>
        <ul>
          <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#description">{{ 'Description'|t }}</a></li>
          <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#details">{{ 'Details'|t }}</a></li>
          <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#links">{{ 'Links'|t }}</a></li>
        </ul>
      </li>
      <li class="rw-toc__section">
        <h3 class="rw-toc__section__title">{{ 'Submission'|t }}</h3>
        <ul>
          <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#editorial-flags">{{ 'Editorial flags'|t }}</a></li>
          <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#actions">{{ 'Save'|t }}</a></li>
          {#        <?php if (!empty($form['revision_information'])): ?>#}
          <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#edit-revision-information">{{ 'Revisions'|t }}</a></li>
          {#        <?php endif; ?>#}
        </ul>
      </li>
    </ul>
  </nav>

  <fieldset id="description">
    <legend>{{ 'Description'|t }}</legend>
    {{ element.name }}
    {{ element.field_shortname }}
    {{ element.field_longname }}
    {{ element.field_spanish_name }}
    {{ element.field_aliases }}
    {{ element.description }}
  </fieldset>

  <fieldset id="details" class="details">
    <legend>{{ 'Details'|t }}</legend>
    {{ element.field_organization_type }}
    {{ element.field_country }}
    {{ element.field_logo }}
  </fieldset>

  <fieldset id="links">
    <legend>{{ 'Links'|t }}</legend>
    {{ element.field_homepage }}
    {{ element.field_links }}
  </fieldset>

  <fieldset id="editorial-flags">
    <legend>{{ 'Editorial flags'|t }}</legend>
    {{ element.field_allowed_content_types }}
    {{ element.field_disclaimer }}
    {{ element.field_attention_report }}
    {{ element.field_attention_job }}
    {{ element.field_attention_training }}
    {{ element.field_fts_id }}
  </fieldset>

  <fieldset id="actions">
    <legend class="visually-hidden">{{ 'Form submission and other actions'|t }}</legend>
    {{ element.actions }}
  </fieldset>

  {%
    set skip_elements = [
    'name',
    'field_shortname',
    'field_longname',
    'field_spanish_name',
    'field_aliases',
    'field_organization_type',
    'field_country',
    'field_logo',
    'field_homepage',
    'field_links',
    'field_allowed_content_types',
    'field_disclaimer',
    'field_attention_report',
    'field_attention_job',
    'field_attention_training',
    'field_fts_id',
    'description',
    'actions',
    'relations',
  ]
  %}

  {% for key, child in element if key|first != '#' %}
    {{ key not in skip_elements ? child }}
  {% endfor %}
</form>
