{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 *
 * @todo review revision section.
 */
#}
{{ attach_library('common_design_subtheme/rw-form') }}
{{ attach_library('common_design_subtheme/rw-user-information') }}

{# Table of contents. #}
{%
  set toc = {
    'fields': {
      'title': 'Fields'|t,
      'sections': {
        'organization': 'Organization'|t,
        'location': 'Location'|t,
        'dates': 'Dates'|t,
        'event-url': 'Event URL'|t,
        'fee': 'Fee'|t,
        'details': 'Details'|t,
        'content': 'Content'|t,
      },
    },
    'submission': {
      'title': 'Submission'|t,
      'sections': {
        'legal': 'Terms & conditions'|t,
        'actions': 'Save'|t,
        'edit-revision-information': 'Revisions'|t,
      },
    },
  }
%}

{# Add the user information at the beginning. It's disabled for non editors. #}
{% if form.user_information is not empty %}
  {%
    set toc = {
      'information': {
        'title': 'Information'|t,
        'sections': {
          'user-information': 'User information'|t,
        },
      },
    }|merge(toc)
  %}
{% endif %}

{# Add the revision information at the end. It's disabled for non editors. #}
{% if form.revision_information is not empty %}
  {%
    set toc = toc|merge({
      'submission': toc.submission|merge({
        'sections': toc.submission.sections|merge({
          'edit-revision-information': 'Revisions'|t,
        }),
      }),
    })
  %}
{% endif %}

{{
  render_var({
    '#theme': 'reliefweb_entities_table_of_contents',
    '#sections': toc,
  })
}}

{# Form content. #}
{% if form.user_information %}
  <fieldset id="user-information">
    <legend>{% trans %}User information{% endtrans %}</legend>
    {{ form.user_information }}
  </fieldset>
{% endif %}

<fieldset id="organization">
  <legend>{% trans %}Organization{% endtrans %}</legend>
  {{ form.field_source }}
</fieldset>

<fieldset id="location">
  <legend>{% trans %}Location{% endtrans %}</legend>
  {{ form.field_training_format }}
  {{ form.field_country }}
  {{ form.field_city }}
</fieldset>

<fieldset id="dates">
  <legend>{% trans %}Dates{% endtrans %}</legend>
  {{ form.ongoing }}
  {{ form.field_training_date }}
  {{ form.field_registration_deadline }}
</fieldset>

<fieldset id="event-url">
  <legend>{% trans %}Event URL{% endtrans %}</legend>
  {{ form.field_link }}
</fieldset>

<fieldset id="fee">
  <legend>{% trans %}Fee{% endtrans %}</legend>
  {{ form.field_cost }}
  {{ form.field_fee_information }}
</fieldset>

<fieldset id="details" class="details">
  <legend>{% trans %}Details{% endtrans %}</legend>
  <p>{% trans %}For definitions of the options see: {% endtrans %}
    <strong><a href="/taxonomy-descriptions" target="_blank">{% trans %}Humanitarian Terms{% endtrans %}</a></strong>
  </p>
  {{ form.field_training_type }}
  {{ form.field_training_language }}
  {{ form.field_career_categories }}
  {{ form.field_theme }}
</fieldset>

<fieldset id="content">
  <legend>{% trans %}Description{% endtrans %}</legend>
  {{ form.field_language }}
  {{ form.title }}
  {{ form.body }}
  {{ form.field_how_to_register }}
</fieldset>

<fieldset id="legal">
  <legend class="visually-hidden">{% trans %}Legal{% endtrans %}</legend>
  {{ form.legal }}
</fieldset>

<fieldset id="actions">
  <legend class="visually-hidden">{% trans %}Form submission and other actions{% endtrans %}</legend>
{{ form.actions }}
</fieldset>

{{ form.revision_information }}
{{ form.path }}

{{
  form|without([
    'user_information',
    'field_source',
    'field_training_format',
    'field_country',
    'field_city',
    'ongoing',
    'field_training_date',
    'field_registration_deadline',
    'field_link',
    'field_cost',
    'field_fee_information',
    'field_training_type',
    'field_training_language',
    'field_career_categories',
    'field_theme',
    'field_language',
    'title',
    'body',
    'field_how_to_register',
    'legal',
    'field_source_reminder',
    'actions',
    'revision_information',
    'advanced',
    'path',
  ])
}}
