{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 *
 * @todo review revision section.
 */
#}
{{ attach_library('common_design_subtheme/rw-form') }}
{{ attach_library('common_design_subtheme/rw-token') }}

{# Table of contents. #}
{{
  render_var({
    '#theme': 'reliefweb_entities_table_of_contents',
    '#sections': {
      'fields': {
        'title': 'Fields'|t,
        'sections': {
          'description': 'Description'|t,
          'overview': 'Overview'|t,
          'resources': 'Resources'|t,
          'sections': 'Sections'|t,
          'related': 'Related content'|t,
        },
      },
      'submission': {
        'title': 'Submission'|t,
        'sections': {
          'editorial-flags': 'Editorial flags'|t,
          'actions': 'Save'|t,
          'edit-revision-information': 'Revisions'|t,
        },
      },
    },
  })
}}

{# Form content. #}
<fieldset id="description">
  <legend>{% trans %}Description{% endtrans %}</legend>
  {{ form.title }}
  {{ form.body }}
  {{ form.field_icon }}
</fieldset>

<fieldset id="overview">
  <legend>{% trans %}Overview{% endtrans %}</legend>
  {{ form.field_overview }}

  {# Temp #}
  <div class="token-help">
    <div class="token-iframe">
      <strong>Iframe syntax: </strong><code>[iframe:widthxheight "title"](link)</code> Ex: [iframe:1000x400 "Events map"](http://example.com/events-map/)
    </div>
    <details>
      <summary>
        <strong>Disaster type map</strong>
        <p>Display maps of the latest disasters per type (can be combined, ex: [disaster-map:ST-SS])</p>
      </summary>
      <table class="token-tree">
        <thead>
        <tr>
          <th>Name</th>
          <th>Token</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr id="token-disaster-map--CW">
          <td>Cold Wave</td>
          <td class="token-key">[disaster-map:CW]</td>
          <td>Map of latest Cold Wave disasters</td>
        </tr>
        <tr id="token-disaster-map--CE">
          <td>Complex Emergency</td>
          <td class="token-key">[disaster-map:CE]</td>
          <td>Map of latest Complex Emergency disasters</td>
        </tr>
        <tr id="token-disaster-map--ID">
          <td>Disasters with IDs</td>
          <td class="token-key">[disaster-map:ID]</td>
          <td>Map of latest disasters with IDs (separated with a "-", ex: [disaster-map:123-456])</td>
        </tr>
        <tr id="token-disaster-map--DR">
          <td>Drought</td>
          <td class="token-key">[disaster-map:DR]</td>
          <td>Map of latest Drought disasters</td>
        </tr>
        <tr id="token-disaster-map--EQ">
          <td>Earthquake</td>
          <td class="token-key">[disaster-map:EQ]</td>
          <td>Map of latest Earthquake disasters</td>
        </tr>
        <tr id="token-disaster-map--EP">
          <td>Epidemic</td>
          <td class="token-key">[disaster-map:EP]</td>
          <td>Map of latest Epidemic disasters</td>
        </tr>
        <tr id="token-disaster-map--EC">
          <td>Extratropical Cyclone</td>
          <td class="token-key">[disaster-map:EC]</td>
          <td>Map of latest Extratropical Cyclone disasters</td>
        </tr>
        <tr id="token-disaster-map--FR">
          <td>Fire</td>
          <td class="token-key">[disaster-map:FR]</td>
          <td>Map of latest Fire disasters</td>
        </tr>
        <tr id="token-disaster-map--FF">
          <td>Flash Flood</td>
          <td class="token-key">[disaster-map:FF]</td>
          <td>Map of latest Flash Flood disasters</td>
        </tr>
        <tr id="token-disaster-map--FL">
          <td>Flood</td>
          <td class="token-key">[disaster-map:FL]</td>
          <td>Map of latest Flood disasters</td>
        </tr>
        <tr id="token-disaster-map--HT">
          <td>Heat Wave</td>
          <td class="token-key">[disaster-map:HT]</td>
          <td>Map of latest Heat Wave disasters</td>
        </tr>
        <tr id="token-disaster-map--IN">
          <td>Insect Infestation</td>
          <td class="token-key">[disaster-map:IN]</td>
          <td>Map of latest Insect Infestation disasters</td>
        </tr>
        <tr id="token-disaster-map--LS">
          <td>Land Slide</td>
          <td class="token-key">[disaster-map:LS]</td>
          <td>Map of latest Land Slide disasters</td>
        </tr>
        <tr id="token-disaster-map--MS">
          <td>Mud Slide</td>
          <td class="token-key">[disaster-map:MS]</td>
          <td>Map of latest Mud Slide disasters</td>
        </tr>
        <tr id="token-disaster-map--OT">
          <td>Other</td>
          <td class="token-key">[disaster-map:OT]</td>
          <td>Map of latest Other disasters</td>
        </tr>
        <tr id="token-disaster-map--ST">
          <td>Severe Local Storm</td>
          <td class="token-key">[disaster-map:ST]</td>
          <td>Map of latest Severe Local Storm disasters</td>
        </tr>
        <tr id="token-disaster-map--AV">
          <td>Snow Avalanche</td>
          <td class="token-key">[disaster-map:AV]</td>
          <td>Map of latest Snow Avalanche disasters</td>
        </tr>
        <tr id="token-disaster-map--SS">
          <td>Storm Surge</td>
          <td class="token-key">[disaster-map:SS]</td>
          <td>Map of latest Storm Surge disasters</td>
        </tr>
        <tr id="token-disaster-map--AC">
          <td>Technological Disaster</td>
          <td class="token-key">[disaster-map:AC]</td>
          <td>Map of latest Technological Disaster disasters</td>
        </tr>
        <tr id="token-disaster-map--TC">
          <td>Tropical Cyclone</td>
          <td class="token-key">[disaster-map:TC]</td>
          <td>Map of latest Tropical Cyclone disasters</td>
        </tr>
        <tr id="token-disaster-map--TS">
          <td>Tsunami</td>
          <td class="token-key">[disaster-map:TS]</td>
          <td>Map of latest Tsunami disasters</td>
        </tr>
        <tr id="token-disaster-map--VO">
          <td>Volcano</td>
          <td class="token-key">[disaster-map:VO]</td>
          <td>Map of latest Volcano disasters</td>
        </tr>
        <tr id="token-disaster-map--WF">
          <td>Wild Fire</td>
          <td class="token-key">[disaster-map:WF]</td>
          <td>Map of latest Wild Fire disasters</td>
        </tr>
        </tbody>
      </table>
    </details>
  </div>

</fieldset>

<fieldset id="resources">
  <legend>{% trans %}Resources{% endtrans %}</legend>
  {{ form.field_resources }}
</fieldset>

<fieldset id="sections">
  <legend>{% trans %}Sections{% endtrans %}</legend>
  {{ form.field_sections }}
</fieldset>

<fieldset id="related">
  <legend>{% trans %}Related Content{% endtrans %}</legend>
  {{ form.field_reports_search }}
  {{ form.field_jobs_search }}
  {{ form.field_training_search }}
  {{ form.field_disasters_search }}
</fieldset>

<fieldset id="editorial-flags">
  <legend>{% trans %}Editorial flags{% endtrans %}</legend>
  {{ form.field_bury }}
  {{ form.field_featured }}
  {{ form.field_disaster_type }}
  {{ form.field_theme }}
</fieldset>

<fieldset id="actions">
  <legend class="visually-hidden">{% trans %}Form submission and other actions{% endtrans %}</legend>
  {{ form.actions }}
</fieldset>

{{ form.revision_information }}
{{ form.path }}

{{
  form|without([
    'title',
    'body',
    'field_icon',
    'field_overview',
    'field_resources',
    'field_sections',
    'field_reports_search',
    'field_jobs_search',
    'field_training_search',
    'field_disasters_search',
    'field_bury',
    'field_featured',
    'field_disaster_type',
    'field_theme',
    'actions',
    'revision_information',
    'advanced',
    'path',
  ])
}}
