{#

/**
 * @file
 * Template for the river go to letter navigation.
 *
 * Available variables:
 * - level: heading level (default to 3)
 * - id: section id (defaults to 'letter-navigation')
 * - title: section title
 * - letters: Associative array of letters with their label, url and active
 *   state
 */

#}
{% if letters is not empty %}
{% set id = id|clean_id %}
<nav{{ create_attribute()
  .addClass([
    'rw-river-letter-navigation',
  ])
  .setAttribute('id', id)
  .setAttribute('data-toggable', title)
  .setAttribute('aria-labelledby', id ~ '-title')
}}>
  <h{{ level }} id="{{ id ~ '-title' }}" class="reliefweb-river-letter-navigation__title visually-hidden">{{ title }}</h{{ level }}>
  <ul class="rw-river-letter-navigation__list">
    {% for letter, data in letters %}
    <li class="rw-river-letter-navigation__list__item"><a{{ create_attribute()
      .addClass([
        'rw-river-letter-navigation__link',
        data.active ? 'rw-river-letter-navigation__link--active',
      ])
      .setAttribute('href', data.url)
    }}>{{ data.label }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
