{#

/**
 * @file
 * Template file for a blog post entity article in a river.
 *
 * Available variables;
 * - level: heading level (defaults to 3)
 * - entity: the article entity's data as an associative array with notably:
 *   - url: url to the full article/page
 *   - title: article title
 *   - langcode: article language code
 *   - id: entity id
 *   - bundle: entity bundle.
 *   - tags (optional): list of terms the entity is tagged with
 *   - various properties like posting date, status etc.
 */

#}

{{ attach_library('common_design/cd-teaser') }}
{{ attach_library('common_design_subtheme/rw-blog') }}

<article{{ create_attribute()
  .addClass([
    'rw-river-article',
    'rw-river-article--' ~ entity.bundle,
    entity.summary ? 'rw-river-article--with-summary',
    'cd-teaser',
  ])
  .setAttribute('data-id', entity.id)
}}>
  {# Header with country slug and title. #}
  <header>
    {# Country slug. #}
    {{ render_var({
      '#theme': 'reliefweb_rivers_river_article_country_slug',
      '#countries': entity.tags.country,
    }) }}

    {# Title. #}
    {{ render_var({
      '#theme': 'reliefweb_rivers_river_article_title',
      '#level': level,
      '#langcode': entity.langcode,
      '#url': entity.url,
      '#title': entity.title,
    }) }}

    <p class="rw-river-article__author">{{ 'By @author'|t({'@author': entity.author}) }}</p>
  </header>

  {# Blog post summary, it's already an escaped HTML string. #}
  {% if entity.summary is not empty %}
  <div class="rw-river-article__content" lang="{{ entity.langcode }}">
    {{ entity.summary|raw }}
  </div>
  {% endif %}

  {# Footer with meta information (sources, dates etc.). #}
  <footer class="rw-river-article__footer">
    {{ render_var({
      '#theme': 'reliefweb_rivers_river_article_meta',
      '#meta': {
        'posted': {
          'type': 'date',
          'label': 'Posted'|t,
          'value': entity.posted,
        },
        'tag': {
          'type': 'taglist',
          'label': entity.tags.tag|length > 1 ? 'Tags'|t : 'Tag'|t,
          'value': entity.tags.tag,
          'count': null,
          'sort': 'name',
        },
      }
    }) }}
  </footer>
</article>
