{#

/**
 * @file
 * Template for the river pages.
 *
 * Available variables:
 * - river: the river name
 * - view: the current river view
 * - attributes: attributes for the river section
 * - title: the river title
 * - title_attrinutes: attributes for the river title
 * - views: list of alternative views for the river
 * - search: see reliefweb-rivers-search.html.twig
 * - letter_navigation: see reliefweb-rivers-letter-navigation.html.twig
 * - advanced_search: see reliefweb-rivers-advanced-search.html.twig
 * - content: the content of the river
 * - links: see reliefweb-rivers-links.html.twig
 *
 * @todo disable the cd-page-title block on river pages.
 */

#}
<section{{ attributes
  .addClass([
    'rw-river-page',
    'rw-river-page--' ~ river|clean_class,
    view ? 'rw-river-page--' ~ river|clean_class ~ '--' ~ view|clean_class,
    views ? 'rw-river-page--with-views',
    search ? 'rw-river-page--with-search',
    letter_navigation ? 'rw-river-page--with-letter-navigation',
    advanced_search ? 'rw-river-page--with-advanced-search',
    links ? 'rw-river-page--with-links',
  ])
}}>
  <header class="rw-river-page__header">
    <h1{{ title_attributes
      .addClass([
        'rw-river-page__title',
        views ? 'visually-hidden',
      ])
    }}>{{ title }}</h1>

    {{ views }}
  </header>

  {{ search }}

  {{ letter_navigation }}

  {{ advanced_search }}

  {{ content|merge({
    '#title_attributes': create_attribute().addClass('visually-hidden')
  }) }}

  {% if links is not empty %}
    <footer class="rw-river-page__footer">
      {{ links }}
    </footer>
  {% endif %}
</section>
