{#

/**
 * @file
 * Template for the river links.
 *
 * Available variables:
 * - level: heading level for the section
 * - attributes: section attributes
 * - title: section title
 * - title_attributes: title attributes
 * - links: The API/RSS links for the river.
 */

#}
{% if links is not empty %}
<section{{ attributes.addClass('rw-river-links') }}>
  <h{{ level }}{{ title_attributes.addClass('visually-hidden') }}>{{ title }}</h{{ level }}>
  <ul class="rw-river-links__list">
  {%- for key, url in links -%}
    <li class="rw-river-links__list__item"><a href="{{ url }}">{{ key|upper }}</a></li>
  {%- endfor -%}
  </ul>
</section>
{% endif %}
