{#

/**
 * @file
 * Template for the search converter page.
 *
 * Available variables:
 * - attributes: wrapper attributes
 * - title: page title
 * - title_attributes: title attributes
 * - form: the form with the appname and search URL
 * - results: Associative array with the query string, API URL, payload and URL
 *   to the JSON result.
 */

#}

{{ attach_library('reliefweb_rivers/search-converter') }}

<section{{ attributes.addClass('rw-search-converter') }}>
  <header class="rw-search-converter__header">
    <h1{{ title_attributes.addClass('rw-search-converter__title') }}>{{ title }}</h1>
  </header>

  <p class="rw-search-converter__description">
  {%- trans -%}Convert a search query on <a href="https://reliefweb.int">reliefweb.int</a> to an API query (see <a href="https://apidoc.reliefweb.int/" rel="noopener" target="_blank">API documentation</a>).{%- endtrans -%}
  </p>

  <section class="rw-search-converter__form">
    <h2>{{ 'Search Information'|t }}</h2>
    {{ form }}
  </section>

  <section class="rw-search-converter__results">
    <h2>{{ 'API Query'|t }}</h2>

    {% if results is empty %}
    <p>{{ 'Please enter a search URL to convert, above, to see the results.'|t }}</p>
    {% else %}
    <h3>{{ 'Query String'|t }}</h3>
    <pre>{{ results.query }}</pre>

    <div class="rw-search-converter__results__section">
      <h3>{{ 'API URL (GET Request)'|t }}</h3>
      <div class="rw-search-converter__results__section__actions">
        <span hidden role="status" class="clipboard-feedback">{{ 'Copied'|t }}</span>
        <div class="cd-button results-button--copy" data-to-copy="results--api-url">Copy</div>
      </div>
      <pre id="results--api-url">{{ results.url }}</pre>
    </div>

    <div class="rw-search-converter__results__section">
      <h3>{{ 'JSON payload'|t }}</h3>
      <div class="rw-search-converter__results__section__actions">
        <span hidden role="status" class="clipboard-feedback">{{ 'Copied'|t }}</span>
        <div class="cd-button results-button--copy" data-to-copy="results--api-json">Copy</div>
      </div>
      <pre id="results--api-json">{{ results.payload }}</pre>
    </div>

    <div class="rw-search-converter__results__section">
      <h3>{{ 'PHP payload'|t }}</h3>
      <div class="rw-search-converter__results__section__actions">
        <span hidden role="status" class="clipboard-feedback">{{ 'Copied'|t }}</span>
        <div class="cd-button results-button--copy" data-to-copy="results--api-php">Copy</div>
      </div>
      <pre id="results--api-php">{{ results.php }}</pre>
    </div>

    <div class="rw-search-converter__results__section">
      <h3>{{ 'Results as JSON'|t }}</h3>
      <p><a href="{{ results.json_url }}">{{ 'View as JSON'|t }}</a></p>
    </div>
    {% endif %}
  </section>
</section>
