{#

/**
 * @file
 * Template for the river search bar.
 *
 * Available variables:
 * - level: heading level (defaults to 2)
 * - attributes: section attributes
 * - title: section title (defaults to 'Search')
 * - title_attributes: section title attributes
 * - path: river path
 * - parameters: list of query parameters to preserve.
 * - label: label and placeholder for the input
 *
 * Note: the "river-search-form" is needed by the "search.js" script to
 * perserve the search query when switching the river view.
 */

#}
{# Attach the search library to enhance the experience. #}
{{ attach_library('reliefweb_rivers/search') }}

<section{{ attributes
  .addClass([
    'rw-river-search',
  ])
}}>
  <h{{ level }}{{ title_attributes
    .addClass([
      'rw-river-search__title',
      'visually-hidden',
    ])
  }}>{{ title }}</h{{ level }}>

  <form id="river-search-form" class="rw-river-search__form" action="{{ path }}" method="GET">
    {# Store the parameters to preserve when submitting the form. #}
    {% for name, value in parameters %}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
    {% endfor %}

    <div class="rw-river-search__wrapper">
      <label for="river-search-input" class="rw-river-search__label">{{ label }}</label>
      <input type="search" name="search" placeholder="{{ label }}" id="river-search-input" value="{{ query }}" class="rw-river-search__input">
      <button type="submit" value="search" class="rw-river-search__button">{{ 'Search'|t }}</button>
    </div>
  </form>
</section>
