{#

/**
 * @file
 * Template for the reliefweb_file form widget file item.
 *
 * Available variables:
 * - element: the form element.
 */

#}
{%
  set rendered = [
    'link',
    'description',
    'language',
    'preview',
    'preview_page',
    'preview_rotation',
    'operations',
    '_weight',
  ]
%}
<tr{{ attributes.addClass(['rw-file-widget-item', 'draggable']) }}>
  {% if element.preview_page is empty %}
  <td class="rw-file-widget-item__information" colspan="2">
  {% else %}
  <td class="rw-file-widget-item__information" colspan="2">
  {% endif %}
    {{ element.link }}
    {{ element.description }}
    {{ element.language }}
    {# Make sure all the element children are rendered. #}
    {% for key, child in element|without(rendered) if key|first != '#' %}
      {{ child }}
    {% endfor %}
  </td>
  {% if element.preview_page is not empty %}
  <td class="rw-file-widget-item__preview">
    {{ element.preview }}
    {{ element.preview_page }}
    {{ element.preview_rotation }}
  </td>
  {% endif %}
  <td class="rw-file-widget-item__operations">
    {{ element.operations }}
  </td>
  <td class="rw-file-widget-item__weight">
    {{ element._weight }}
  </td>
</tr>
