{#

/**
 * @file
 * Template for the ReliefWeb Homepage.
 *
 * Available variables:
 * - attributes: wrapper attributes
 * - guidelines: list of guidelines for the page. Each section is a render array.
 */

#}

<div{{ attributes.addClass('rw-guidelines-list') }}>
  <aside>
    <nav class="scroll">
      {% for guideline in guidelines %}
        <label for="{{ guideline['#id'] }}">{{ guideline['#title'] }}</label>
        <input id="{{ guideline['#id'] }}" type="checkbox" name="lists">

        {% if guideline['#children'] %}
          <nav>
          {% for child in guideline['#children'] %}
            <label for="{{ child['#id'] }}">{{ child['#title'] }}</label>
            <input id="{{ child['#id'] }}" type="checkbox" name="lists">
          {% endfor %}
          </nav>
        {% endif %}
      {% endfor %}
    </nav>
  </aside>

  <main>
    <div class="scroll">
      {% for guideline in guidelines %}
        <a name="{{ guideline['#id'] }}"></a>
        {{ guideline['#children'] }}
      {% endfor %}
    </div>
  </main>
</div>
