{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}
{% set attributes = attributes
  .setAttribute('data-cd-toggable', 'Jump to content'|t)
  .setAttribute('data-cd-icon', 'arrow-down')
  .setAttribute('data-cd-component', 'rw-toc')
%}

{% set title_attributes = title_attributes.addClass('visually-hidden') %}

{{ attach_library('common_design_subtheme/rw-form') }}
{{ attach_library('common_design_subtheme/rw-toc') }}

<nav{{ attributes
  .setAttribute('id', 'table-of-contents')
  .addClass([
    'rw-toc',
  ])
}} >
  <h2{{ level }}{{ title_attributes
    .addClass([
      'rw-toc__title'
    ])
  }}>{% trans %}Table of Contents{% endtrans %}</h2>
  <ul>
    <li class="rw-toc__section">
      <h3 class="rw-toc__section__title">{% trans %}Fields{% endtrans %}</h3>
      <ul>
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#content">{% trans %}Content{% endtrans %}</a></li>
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#files">{% trans %}Files{% endtrans %}</a></li>
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#dates">{% trans %}Dates{% endtrans %}</a></li>
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#source">{% trans %}Source{% endtrans %}</a></li>
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#countries-disasters">{% trans %}Countries & disasters{% endtrans %}</a></li>
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#details">{% trans %}Details{% endtrans %}</a></li>
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#headline">{% trans %}Headline{% endtrans %}</a></li>
      </ul>
    </li>
    <li class="rw-toc__section">
      <h3 class="rw-toc__section__title">{% trans %}Submission{% endtrans %}</h3>
      <ul>
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#editorial-flags">{% trans %}Editorial flags{% endtrans %}</a></li>
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#actions">{% trans %}Save{% endtrans %}</a></li>
{#        <?php if (!empty($form['revision_information'])): ?>#}
        <li class="rw-toc__sub_section"><a class="rw-toc__sub_section__link" href="#edit-revision-information">{% trans %}Revisions{% endtrans %}</a></li>
{#        <?php endif; ?>#}
      </ul>
    </li>
  </ul>
</nav>

<fieldset id="content">
  <legend>{% trans %}Content{% endtrans %}</legend>
  {{ form.field_language }}
  {{ form.title }}
  {{ form.body }}
</fieldset>

<fieldset id="files">
  <legend>{% trans %}Files{% endtrans %}</legend>
  {{ form.field_file }}
  {{ form.field_image }}
</fieldset>

<fieldset id="dates">
  <legend>{% trans %}Dates{% endtrans %}</legend>
  {{ form.field_report_date }}
  {{ form.field_embargo_date }}
</fieldset>

<fieldset id="source">
  <legend>{% trans %}Source{% endtrans %}</legend>
  {{ form.field_source }}
  {{ form.field_ocha_product }}
  {{ form.field_origin }}
  {{ form.field_origin_notes }}
</fieldset>

<fieldset id="countries-disasters" class="details">
  <legend>{% trans %}Countries & disasters{% endtrans %}</legend>
  {{ form.field_country }}
  {{ form.field_primary_country }}
  {{ form.field_disaster }}
  {{ form.field_disaster_type }}
</fieldset>

<fieldset id="details" class="details">
  <legend>{% trans %}Details{% endtrans %}</legend>
  {{ form.field_content_format }}
  {{ form.field_theme }}
</fieldset>

<fieldset id="headline">
  <legend class="visually-hidden">{% trans %}Headline{% endtrans %}</legend>
  {{ form.field_headline }}
  {{ form.field_headline_title }}
  {{ form.summary }}
  {{ form.field_headline_image }}
</fieldset>

<fieldset id="editorial-flags">
  <legend class="visually-hidden">{% trans %}Editorial flags{% endtrans %}</legend>
  {{ form.field_bury }}
  {{ form.field_feature }}
</fieldset>

<fieldset id="actions">
  <legend class="visually-hidden">{% trans %}Form submission and other actions{% endtrans %}</legend>
  {#  <?php print $actions; ?>#}
</fieldset>
