{#

/**
 * @file
 * Template for the opprtunities on the ReliefWeb Homepage.
 *
 * Available variables:
 * - level: heading level (defaults to 2)
 * - id: section id
 * - attributes: section attributes
 * - title: section title
 * - title_attributes: section title attributes
 * - opportunities: associative array keyed by type (job, training) and with
 *   the following properties:
 *   - type: job, training
 *   - url: url to the corresponding river
 *   - total: total number of opportunities for this type
 *   - title: label for the number of opportunities
 */
#}
<section{{ attributes
  .setAttribute('id', id|clean_id)
  .addClass([
    'rw-homepage-opportunities',
  ])
}}>
  <h{{ level }}{{ title_attributes
    .addClass([
      'rw-homepage-opportunities__title'
    ])
  }}>{{ title ?? 'Opportunities'|t }}</h{{ level }}>

  <ul class="rw-homepage-opportunities__list">
  {% for item in opportunities %}
    <li class="rw-homepage-opportunities__list__item" data-type="{{item.type }}">
      <a class="rw-homepage-opportunities__list__item__link" href="{{ item.url }}">
        <data class="rw-homepage-opportunities__list__item__total" value="{{ item.total }}">{{ item.total|number_format }}</data>
        <span class="rw-homepage-opportunities__list__item__label">{{ item.title }}</span>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
