{#

/**
 * @file
 * Template for a list of files.
 */

#}
{% if list is not empty %}
<section{{ attributes.addClass('rw-file-list') }}>
  <h{{ level }}{{ title_attributes.addClass('visually-hidden') }}>{{ title }}</h{{ level }}>
  <ul{{ list_attributes }}>
    {% for item in list %}
    <li>
      <a href="{{ item.url }}">
        {% if item.preview is not empty and loop.index == 1 and not lazy_load_first_preview %}
          {%
            set item = item|merge({
              'preview': item.preview|merge({
                '#attributes': item.preview['#attributes']|merge({
                  'loading': 'eager'
                })
              })
            })
          %}
        {% endif %}

        {{ item.preview }}
        <strong class="rw-file__label">{{ item.label }}</strong>
        <span class="rw-file__description">{{ item.description }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

