{#

/**
 * @file
 * Template for a list of files.
 */

#}
{% if list is not empty %}
<section{{ attributes.addClass(['rw-file-list', 'rw-file-list--interactive']) }}>
  <h{{ level }}{{ title_attributes }}>{{ title }}</h{{ level }}>
  <div{{ list_attributes }}>
    {% for item in list %}
    <figure>
      {% if item.preview is not empty and loop.index == 1 and not lazy_load_first_preview %}
        {%
          set item = item|merge({
            'preview': item.preview|merge({
              '#attributes': (item.preview['#attributes'] ?? {})|merge({
                'loading': 'eager'
              })
            })
          })
        %}
      {% endif %}

      {% if item.url is not empty %}
      <a href="{{ item.url }}" target="_blank" rel="noopener">{{ item.preview }}</a>
      {% else %}
      {{ item.preview }}
      {% endif %}
      <figcaption>{{ item.label }}</figcaption>
    </figure>
    {% endfor %}
  </div>
  {{ footer }}
</section>
{% endif %}
