{#

/**
 * @file
 * Template for the headlines notifications.
 *
 * Available variables are:
 * - $preheader: string for preheader.
 * - $today: today's date, formatted.
 * - $items: array of headline items.
 * - $prefooter: string for prefooter.
 */
?>

#}

{% include 'themes/custom/common_design_subtheme/templates/rw-modules/reliefweb-subscriptions/reliefweb-subscriptions--header.html.twig' %}

  <h1 class="email-title">Today's ReliefWeb Headlines / <span class="email-title-date">{{ 'now'|date('j M Y') }}</span></h1>

  {% for item in items %}
    <div class="email-resource">
      <h2 class="email-resource-title"><a class="email-resource-title-link" href="{{ item.url }}">{{ item.title }}</a></h2>
      <div class="email-resource-info">{{ item.info }}</div>
      <div class="email-resource-teaser">
        {{ item.summary }}
        <a class="email-resource-read-more" href="{{ item.url }}">Read more</a>
      </div>
    </div>
  {% endfor %}

{% include 'themes/custom/common_design_subtheme/templates/rw-modules/reliefweb-subscriptions/reliefweb-subscriptions--footer.html.twig' %}
