{#

  /**
   * @file
   * Template for the bookmark overview page.
   *
   * Available variables:
   * - attributes: wrapper attributes.
   * - sections: list of rivers fo content.
   */

#}
<div{{ attributes.addClass('rw-bookmarks') }}>
  {{ sections }}
  {{ pager }}
  {% if link %}
    <a class="rw-bookmarks__link" href="{{ link.url }}">{{ link.label }}</a>
  {% endif %}
</div>
