{#

  /**
   * @file
   * Template for the bookmark overview page.
   *
   * Available variables:
   * - attributes: wrapper attributes.
   * - tabs: navigation tabs with the overview and bookmark types.
   * - sections: list of rivers fo content.
   */

#}
<div{{ attributes.addClass('rw-bookmarks') }}>
  {{ tabs }}
  {% if sections is not empty %}
    {{ sections }}
  {% else %}
    <p class="rw-bookmarks__empty">{{ 'No bookmarked content.'|t }}</p>
  {% endif %}

  {% if link %}
    <footer class="rw-bookmarks__footer">
      <a class="rw-bookmarks__link" href="{{ link.url }}">{{ link.label }}</a>
    </footer>
  {% endif %}
</div>
